.cbtBody {
    margin: 85px 20px 20px 20px ;
    display: flex;
    

    .timerBody {
        flex: 1;
        background-color: rgb(236, 236, 236);
        padding: 20px;
        border: 1px solid gray;
        margin-right: 10px;
        color: var(--main-color);

        p {
            margin-bottom: 5px;
            font-size: 14px;
        }
        
        span {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;
                padding: 5px 10px;
                border-radius: 0px 10px 10px 0;
                border-left: 2px solid rgb(204, 71, 71);

                &.timer {
                    border-radius: 0;
                    width: fit-content;
                    font-size: 20px;
                    margin-top: 0px;
                    border-bottom: 0;
                }

                &.examInfo {
                    border: 0;
                    margin: 0 ;
                }
            }

        .profilePic {
            display: flex;
            flex-direction: column;
            padding: 5px;
            height: 100px;
            margin-top: 20px;
            background-color: #fff;
            border-radius: 10px;
            width: 170px;
            height: 150px;

            .examInfo {
                margin-bottom: 0;
            }

            &.examInfoWrpper {
                width: 250px;
                margin-right: 20px;
                background-color: inherit;

                ul {
                    margin-top: 0;
                    list-style: none;
                    padding-left: 5px;
                    border-left: 2px solid rgb(15, 5, 5);
                    li {
                        margin-bottom: 5px;
                    }
                }
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            
        }
    }
    .examBody {
        flex: 4;
        background-color: rgb(243, 243, 243);
        border: 1px solid gray;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: calc(100vh - 105px);
        overflow-y: auto;
        box-sizing: border-box;
        color: var(--main-color);

        .inst {
            display: flex;
            flex-direction: column;
            position: sticky;
            top: 0;
            box-shadow: 5px 5px 25px rgba(26, 26, 26, 0.5);

            .subject {
                padding: 10px 10px;
                background-color: rgba(255, 255, 255);
                font-weight: 600;
            }
            .instructions {
                padding-left: 10px;
                padding-bottom: 5px;
                background-color: rgba(255, 255, 255);
            }
        }

        .questions {
            padding: 10px 5px;
            ul{
                list-style: none;
                li {
                    input {
                        margin-right: 5px;
                        cursor: pointer;
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            display: flex;
        }
    }
}