.updates {
    margin: 10px 20px;
    width: 100%;
    

    .card {
        width: 700px;
        margin: 30px auto;
        .subject {
            background-color: rgb(233, 233, 233);
            padding: 4px 20px;
            box-shadow: var(--main-shadow);
            border-radius: 10px;
        }
        .about {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            span {
                .subject {
                    padding: 7px 10px;
                    background-color: rgb(255, 255, 255);
                    font-weight: 600;
                    font-size: 14px;
                }
        }
        }
    }
}